.btn {
  width: 100%;
  padding: 10px 0;
  border: 1px solid var(--dark-white);
  border-radius: 4px;
  font-size: 15px;
}

.btn:hover {
  cursor: pointer;
}

.logout {
  background-color: #d63031;
  padding: 8px !important;
  color: white;
}
