.btn {
  width: 100%;
  padding: 10px 0;
  border: 1px solid var(--dark-white);
  border-radius: 4px;
  font-size: 15px;
}

.btn:hover {
  cursor: pointer;
}

.headerBtn {
  border-radius: 20px;
  font-weight: 500;
  padding: 8px 26px;
  transition: 0.3s ease-in-out;
  border: none;
}

.headerBtn.primary:hover {
  box-shadow: 0 3px 10px 1px rgba(50, 205, 50, 0.4);
}

.headerBtn.secondary:hover {
  box-shadow: 0 3px 10px 1px rgba(255, 143, 143, 0.4);
}

.secondary {
  background-color: #ff8f8f;
  color: white;
}
.primary {
  color: white;
  background-color: #41b06e;
}

.danger {
  background-color: #d63031;
  color: white;
}
