.main-header {
  background: var(--dark-white);
}
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
