:root {
  --dark-white: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

/* .site-main {
  background-color: red;
  height: 100vh;
} */
